<img src="assets/return.jpg" class="bannerimage">
<div>
  <div class="container">

    <div class="row one">
      <div class="col-md-12 col-lg-7 col-xl-7 col-sm-12 col-xs-12">
        <h5>Return & Exchange</h5>
        <p>Returns will not be accepted without an original purchase receipt. All merchandise must be returned in the original selling condition and include the original product packaging, tags, and labels. Purchases made online with a gift card, PayPal, or Apple Pay will receive merchandise credit.
          Exchanges without an original purchase receipt will only be accepted for the same item in a different color or size. Merchandise sold as final sale may not be returned or exchanged at any time. </p>
      </div>
      <div class="col-md-12 col-lg-5 col-xl-5 col-sm-12 col-xs-12"><img src="assets/about1.jpg" class="rowImage"></div>
    </div>
  </div>
</div>

<app-footer></app-footer>
