<img src="assets/shippingbanner.jpg" class="bannerimage">
<div>
  <div class="container">

    <div class="row one">
      <div class="col-md-12 col-lg-7 col-xl-7 col-sm-12 col-xs-12">
        <h5>Shipping</h5>
        <br>
        <p>
          We ship to all over the world. We have 2 kinds of shipping
        </p>

        <p>
          Standard Shipping
        </p>
        <p>
          Standard shipping cost $5.  Please allow up to 5-9 BUSINESS DAYS for shipping. For some territories, please allow 14 business days.
        </p>
        <p>
          Express
        </p>
        <p>
          Express shipping cost $25. Expected delivery dates are valid for orders placed by 12 PM EST Monday – Friday. Please allow an extra day for orders placed after 12 PM EST or on weekends and holidays.

          Free On Orders Over $150
         </p>

      </div>

      <div class="col-md-12 col-lg-5 col-xl-5 col-sm-12 col-xs-12"><img src="assets/about1.jpg" class="rowImage"></div>
    </div>

  </div>
</div>

<app-footer></app-footer>
