
<app-carousel></app-carousel>
<app-promotional-product>

</app-promotional-product>


<!--<section>
  <div class="row bgcat">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img src="/assets/item1.jpg" class="catimg img-fluid" />
      <h6 class="text-center" style="  margin: 5px;
">Big statement Ring</h6>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 "><img src="/assets/item2.jpg" class="catimg img-fluid" />
      <h6 class="text-center" style="  margin: 5px;
">Gold cross necklace</h6>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12"><img src="/assets/item3.jpg" class="catimg img-fluid" />
      <h6 class="text-center" style="  margin: 5px;
">Handcuff braclets</h6>
    </div>
  </div>
</section>-->

<section class="seasonalpromo">
  <img class="justify-content-center" src="/assets/clearance.jpg" width="100%">
  <button class="btn btn-primary" type="button" style="font-family:Raleway">View Clearance</button>

</section>

<section style="margin-top: 30px; margin-bottom: 30px">
  <h6 class="text-center arrival">New Arrival</h6>

<app-multi-image-slider>
</app-multi-image-slider>

</section>
<app-footer></app-footer>
