<app-carousel></app-carousel>
<section>
  <div class="row bgcat">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img src="/assets/item1.jpg" class="catimg img-fluid" />
      <h6 class="text-center" style="  margin: 5px;
">Big statement Ring</h6>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 "><img src="/assets/item2.jpg" class="catimg img-fluid" />
      <h6 class="text-center" style="  margin: 5px;
">Gold cross necklace</h6>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12"><img src="/assets/item3.jpg" class="catimg img-fluid" />
      <h6 class="text-center" style="  margin: 5px;
">Handcuff braclets</h6>
    </div>
  </div>
</section>

<section class="seasonalpromo">
  <img class="justify-content-center" src="/assets/ad-banner1.jpg" width="100%">
  <button class="btn btn-primary" type="button" style="font-family: 'Roboto Mono', monospace;">Winter Collections</button>
  <button class="btn btn-default" type="button">Discover Now</button>
</section>

<section style="margin: 10px;">
  <h6 class="text-center arrival">New Arrival</h6>
  <div class="row">
    <div class="col">
      <div class="scrolling-wrapper">
        <div class="card"><img src="/assets/Slider2.jpg" class="catimg" /></div>
        <div class="card"><img src="/assets/Slider2.jpg" class="catimg" /></div>
        <div class="card"><img src="/assets/Slider2.jpg" class="catimg" /></div>
        <div class="card"><img src="/assets/Slider2.jpg" class="catimg" /></div>
        <div class="card"><img src="/assets/Slider2.jpg" class="catimg" /></div>
        <div class="card"><img src="/assets/Slider2.jpg" class="catimg" /></div>
        <div class="card"><img src="/assets/Slider2.jpg" class="catimg" /></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
