.img-fluid.d-flex.flex-fill.extra-prod-img {
border-radius: 2px;
  width: 160px;
  height: 160px;
}


.img-fluid.highlight-img {
  width: 100%;
}
.text-center{
  background-color: #04b6a8;
  color:rgb(255,255,255);
  height: 30px;
  font-family: 'Raleway';
  padding-top:5px;
}
.container{
margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.extra-prod-img{
  margin-bottom: 10px;
  width: 160px;
  height: 170px;
}



html * {
  font-family: 'Raleway';
}



.btn {
  background: #d7a738;
  border-color: #d7a738;
  border-radius: 0px;
  color: #ffffff;
}
