<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12" style="width: 100%;"><img class="d-inline-block" src="/assets/contact_banner.jpg" style="width: 100%;"></div>
  <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
    <h3 class="text-center">Contact us</h3>
  </div>
  <div class="col">
    <p style="font-size: 16px;margin: 5px 10px 20px 10px;">if you have an enquiry regarding the online shop or a general enquiry for our Customer Service department. Please contact us either by completing the form below or by selecting one of the following contact numbers.</p>
  </div>
</div>
<div>
  <div class="container" style="width: 100%;">
    <div class="row" style="width: 100%;">
      <div class="col-md-6 col-xl-4 offset-xl-0">
        <h6 class="text-left">Her Additions</h6>
        <p class="text-left" style="font-size: 10px;font-family: 'Roboto Mono', monospace;">senion director,online marketing.<br>708 8th Avenue, 7th floor.<br>New York, NY 11374<br>phone: 888-756-7878</p>
        <h6 class="text-left">Customer Service</h6>
        <p class="text-left" style="font-size: 10px;font-family: 'Roboto Mono', monospace;">senior director,sales.<br>708 8th Avenue, 7th floor.<br>New York, NY 11374<br>phone: 888-756-7878</p>
      </div><div class="col-md-6 col-xl-8">
      <div class="contact-clean">
        <form method="post">
          <div class="form-group"><input type="text" name="name" placeholder="Name" class="form-control" /></div>
          <div class="form-group"><input type="email" name="email" placeholder="Email" class="form-control is-invalid" /><small class="form-text text-danger">Please enter a correct email address.</small></div>
          <div class="form-group"><textarea rows="14" name="message" placeholder="Message" class="form-control"></textarea></div>
          <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
      </div>
    </div></div>
  </div>
</div>

<app-footer></app-footer>
