<div class="main-container">
<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12" style="width: 100%;">
    <img class="d-inline-block" src="/assets/contact.jpg" style="width: 100%;">
  </div>

  <div class="container" style="width: 100%; margin-top: 25px">
    <p>
      If you have an enquiry regarding the online shop or a general enquiry for our Customer Service department. Please contact us either by completing the form below or by selecting one of the following contact numbers.
    </p>
  </div>
</div>
<div>
  <div class="container" style="width: 100%; margin-top:20px ">
    <div class="row" style="width: 100%;">
      <div class="col-md-3 col-lg-3 offset-xl-0">
        <h6 class="text-left">Her Additions</h6>
        <p class="text-left" style="font-size: 12px;font-family: 'Raleway';">Senior director,online marketing.<br>708 8th Avenue, 7th floor.<br>New York, NY 11374<br>phone: 888-756-7878</p>
        <h6 class="text-left">Customer Service</h6>
        <p class="text-left" style="font-size: 12px;font-family: 'Raleway';">Senior director,sales.<br>708 8th Avenue, 7th floor.<br>New York, NY 11374<br>phone: 888-756-7878</p>
      </div><div class="col-md-9 col-lg-9">
      <div class="contact-clean">
        <form novalidate  #f="ngForm"  (ngSubmit) = formSubmit(f)>
          <div class="form-group">
            <input
              type="text"
              name="name"
                   [(ngModel)]=" mail.name"
                   #name = "ngModel"
                   required = "required"
                   minlength="2"
                   placeholder="Name"
                   class="form-control" />
            <div [hidden]= "name.valid || name.pristine" class="alert alert-danger" >name is required</div>
          </div>
          <div class="form-group">
            <input
              [(ngModel)]=" mail.email"
              #email = "ngModel"
              type="email"
              name="email"
              required = "required"
              minlength="5"
              placeholder="Email"
              class="form-control " />
            <div [hidden]= "email.valid || email.pristine" class="alert alert-danger" >email is required</div>
          </div>
          <div class="form-group">
            <textarea
              rows="14"
              name="message"
              [(ngModel)]=" mail.message"
              #message = "ngModel"
              name="message"
              required = "required"
              minlength="5"
              placeholder="Message"
              class="form-control">
            </textarea>
            <div [hidden]= "message.valid || message.pristine" class="alert alert-danger" >message is required</div>
          </div>
          <div class="form-group" style="float: right" >
            <button class="btn btn-primary" [disabled]="!f.valid" type="submit"> SUBMIT </button></div>
        </form>
      </div>
    </div></div>
  </div>
</div>
</div>
<app-footer></app-footer>
