html * {
  font-family: Raleway;
}
@media (min-width:1200px) {
  .container {
    /*max-width: 1140px;*/
    width: 100%;
  }
}

@media (min-width:992px) {
  .container {
    /*max-width: 960px;*/
    width: 100%;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}
.btn {
  background: #d7a738;
  border-radius: 0px;
  border-color: #d7a738;
}
.main-container {
  font-family: "Raleway", Sans-serif;
}
