<img src="assets/aboutbanner.jpg" class="bannerimage">
<div>
  <div class="container">

    <div class="row one">
      <div class="col-md-12 col-lg-7 col-xl-7 col-sm-12 col-xs-12">
        <h5>Who We Are</h5>
        <p>Her Additions is an online business of authentic handcrafted jewelry from Nepal. More than 70 ethnic groups exist among 22 million Nepalese therefore the variety of jewelry designs exist. 90% of total gold/silver craftsmen in Nepal are into jewelry design and jewelry business. Now in 21st- century various technology has been developed but no modern types of equipment are used for the development of the jewelry so these pieces of jewelry are primitive, authentic and are incredible and beautiful in designs but due to poor marketing it is losing it place in the market. So, Her Additions promote those jewelries all around the world with a cause.</p>
      </div>
      <div class="col-md-12 col-lg-5 col-xl-5 col-sm-12 col-xs-12"><img src="assets/about1.jpg" class="rowImage"></div>
    </div>



    <div class="row two">
      <div class="col-md-12 col-lg-5 col-xl-5 col-sm-12 col-xs-12"><img src="assets/about2.jpg" class="rowImage"></div>
      <div class="col-md-12 col-lg-7 col-xl-7 col-sm-12 col-xs-12">
        <h5>What We Do</h5>
        <p>Nepal is a developing country. The biggest problem faced by Nepalese people is unemployment. Many people are found wandering here and there in vain. They are in search of job or employment.  However, the major causes of this problem in Nepal are overpopulation, unskilled human resources, lack of technical and practical education etc. Besides these, lack of industries and factories, lack of education to be self employed, etc. are other causes of unemployment problem in Nepal. So, Her Addition is here with the cause for selling these jewelries. Beside giving an employment opportunity for the artisan we also give 15% of the total amount purchase of a customer to the artisans children for their education.</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
