<div class="row justify-content-center align-items-center" id="navbartop">

<nav class="navbar navbar-light navbar-expand-md">
  <div class="container-fluid">
    <div
      id="navcol-1">
      <ul class="nav navbar-nav mx-auto">

        <li class="nav-item"><a routerLink="/aboutus" href="#" class="nav-link">ABOUT US</a></li>
        <li class="nav-item"><a routerLink="/blog" class="nav-link">BLOGS</a></li>
        <li class="nav-item"><a routerLink="/contactus" href="#" class="nav-link">CONTACTS</a></li>
        <li class="nav-item"><a routerLink="/shipping" class="nav-link">SHIPPING</a></li>
        <li class="nav-item"><a routerLink="/return&exchange" class="nav-link">RETURN & EXCHANGE</a></li>



      </ul>
    </div>
  </div>
</nav>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">

  </div>
</nav>

<div class="footer-basic">

  <footer>

    <div class="social">
      <a href="https://www.facebook.com" target="_blank"><img src="/assets/facebook.jpg"></a>
      <a href="https://www.pinterest.com/" target="_blank"><img src="/assets/pinterest.jpg"></a>
      <a href="https://www.youtube.com/" target="_blank"><img src="/assets/youtube.jpg"></a>
      <a href="https://plus.google.com/" target="_blank"><img src="/assets/googleplus.jpg"></a>



    </div>
    <p class="text-center copyright">Her Additions © 2018</p>
  </footer>
</div>
