
.body{
  font-family: 'Raleway';
}
.bannerimage {
  width: 100%;
  height: 30%;
  margin-bottom: 20px;
  align-self: center;

}

.img-fluid {
}

.rowImage {
  width: 100%;
  height: 80%;
}

.container{
  margin-top: 30px;
  font-family: 'Raleway';
}

.two {
  margin-top: 20px;
}

one{
  margin-bottom: 30px;
}
.btn {
  background: #04b6a8;
  font-family: 'Raleway';
  color: #ffffff;
  border-radius: 0px;
  border-color: #04b6a8;
  float: right;
  margin-bottom: 30px;
}

.br {
  display: block;
  margin-bottom: 100px;
}
